Plantarium/node_modules/

Plantarium/aServices/auth/node_modules/
Plantarium/aServices/plants/node_modules/
Plantarium/aServices/weather/node_modules/  
Plantarium/aServices/struct/node_modules/
Plantarium/aServices/beds/node_modules/
Plantarium/aServices/beds/dist
Plantarium/aServices/struct/dist
Plantarium/aServices/weather/dist
Plantarium/aServices/beds/dist
Plantarium/aServices/pants/dist
Plantarium/FE/dist
Plantarium/FE/node_modules/
Plantarium/shared/node_modules